html {
    overflow-y: scroll;
  }
  

body {
    margin: auto;
    max-width: 40em;
}

form#fireball_form {
    display: grid;
    grid-template-columns: repeat(2, 10em [column]);
    grid-template-rows: auto;
}

#fireball_form label {
    grid-column: 1;
    width: 10em;
}
#fireball_form input {
    grid-column: 2;
    width: 2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
}

textarea {
    resize: none;
    margin-top: 1em;
}